
.DS_Store
/NYC-Taxi-Map-Web-APIKey-MongoDB/front_end/.idea
/NYC-Taxi-Map-Web-APIKey-MongoDB/back_end/.idea
/NYC-Taxi-Map-Web-APIKey-MongoDB/data_preprocessing/.idea
/NYC-Taxi-Map-Web-APIKey-MongoDB/back_end/data
/NYC-Taxi-Map-Web-APIKey-MongoDB/back_end/node_modules
/NYC-Taxi-Map-Web-APIKey-MongoDB/back_end/secrets.js
/NYC-Taxi-Map-Web-APIKey-MongoDB/front_end/map_web/node_modules
/NYC-Taxi-Map-Web-APIKey-MongoDB/data_preprocessing/output
/NYC-Taxi-Map-Web-APIKey-MongoDB/data_preprocessing/raw_data

/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/front_end/.idea
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/back_end/.idea
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/data_preprocessing/.idea
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/back_end/data
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/back_end/node_modules
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/front_end/map_web/node_modules
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/data_preprocessing/output
/NYC-Taxi-Map-Web-NonAPI-Map-Non-Credential-Backend/data_preprocessing/raw_data